h2 {
    margin-bottom: 50px;
}

.content {
    display: grid;
    grid-template-columns: .6fr 1fr;
    grid-column-gap: 50px;
    align-items: flex-start;
}

.content .list-pedagang {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}