.actions {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 80vh;
}

.actions .action {
    padding: 20px 30px;
    background-color: limegreen;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

.actions .action:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}